* {
  margin: 0px;
  font-family: "Open Sans";
}
/* header and navigation styles  */
.text-primary {
  color: #fd6e0a;
}

.nav-tittle {
  font-weight: 800;
  font-size: 45px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav li {
  list-style-type: none;
  margin-left: 10px;
}
nav ul {
  display: flex;
}
